body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#rock,
#paper,
#scissors {
    padding: 10px 20px;
    background-color: aqua;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}